<h1 align="center"> <span class = "label label-default">About</span> </h1>
<div class="container">
<div class="col-md-8">
  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
    when an unknown printer took a galley of type and scrambled it to make a type
    specimen book. It has survived not only five centuries, but also the leap into
    electronic typesetting, remaining essentially unchanged. It was popularised
    in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
    and more recently with desktop publishing software like Aldus PageMaker including
    versions of Lorem Ipsum.</p>
</div>
<div class="col-md-4" style="border: solid">
<img src = "http://www.learningspy.co.uk/wp-content/uploads/2016/05/Testing_in_Progress.gif" class = "img-thumbnail">
</div>
</div>
<hr>
<div class="container">

  <h3 align="center"> <span class = "label label-default">My Intrests</span> </h3>

 <div class="col-md-3">
<i class="fa fa-code fa-3x"></i> <br>
   <span class = "label label-info">Coding</span>
 </div>

  <div class="col-md-3">
  <i class="fa fa-car fa-3x"></i> <br>
    <span class = "label label-info">Karting</span>
  </div>

  <div class="col-md-3">
  <i class="fa fa-bicycle fa-3x"> </i> <br>
    <span class = "label label-info">Biking</span>
  </div>

  <div class="col-md-3">
  <i class="fa fa-gamepad fa-3x"> </i> <br>
    <span class = "label label-info">Gaming</span>
  </div>
</div>