<h1>About Me</h1>
<p>Som stuff about me </p>

<hr>
<i class="fa fa-code fa-5x"></i> <br>
<i class="fa fa-car fa-5x"></i> <br>
<i class="fa fa-bicycle fa-5x"> </i> <br>
<i class="fa fa-gamepad fa-5x"> </i> <br>